<div class=header_buttons>
  <% if current_user %>
    <a><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a>
  <% else %>
    <a><%= link_to 'Sign up', new_user_registration_path %></a>
    <a><%= link_to 'Sign in', new_user_session_path %></a>
  <% end %>
</div>